.output
.data
.generated
.cache
dist
build
out
logs
temp
tmp

.DS_Store
.fleet
.idea
*.db
*.tmp
*.log
*.com
*.class
*.dll
*.exe
*.o
*.so
*.swp
*.ini
*.log
.env
.env.*
!.env.example
